# # Test with multi-source applicationsets

# applicationsets:
#   applicationset-multiple-sources:
#     generators:
#     - list:
#         elements:
#           - cluster: local-cluster
#             url: https://kubernetes.default.svc
#     template:
#       metadata:
#         name: '{{cluster}}-apps'
#       spec:
#         project: default
#         sources:
#         - repoURL: https://github.com/Olak29/argocd-example-apps.git 
#           path: applications
#           targetRevision: HEAD
#           helmFiles:
#             valuesFiles:
#             - applications/guestbook
#         destination:
#           server: '{{url}}'
#           namespace: default
#         syncPolicy:
#          syncOptions:
#           - ApplyOutOfSyncOnly=true
#           - CreateNamespace=true
#          automated:
#             prune: true
#             selfHeal: true
#             allowEmpty: false
# # Test with multi-source applicationsets

applicationsets:
  applicationset-multiple-sources:
    generators:
    - list:
        elements:
          - cluster: local-cluster
            url: https://kubernetes.default.svc
            path: "appss/guestbook"
    - git: 
        repoURL: https://github.com/Olak29/argocd-example-apps.git 
        revision: HEAD
        directories:
        - path: appss/*
    template:
      metadata:
        name: '{{cluster}}-apps'
      spec:
        project: default
        sources:
        - repoURL: https://github.com/Olak29/argocd-example-apps.git 
          path: '{{path}}'
          targetRevision: HEAD
        destination:
          server: '{{url}}'
          namespace: '{{path.base}}'
        syncPolicy:
         syncOptions:
          - ApplyOutOfSyncOnly=true
          - CreateNamespace=true
         automated:
            prune: true
            selfHeal: true
            allowEmpty: false    