# config:
#   spec:
#     destination:
#       server: https://kubernetes.default.svc
#     source:
#       repoURL: https://github.com/Olak29/argocd-example-apps.git
#       targetRevision: master

# applications:
#   - name: blue-green
#     tool:
#       helm:
#         releaseName: blue-green
#   - name: guestbook
#   - name: helm-dependency
#     tool:
#       helm:
#         releaseName: helm-dependency
#   - name: helm-guestbook
#     tool:
#       helm:
#         releaseName: helm-guestbook
#   - name: helm-hooks
#   - name: jsonnet-guestbook
#   - name: jsonnet-guestbook-tla
#   - name: kustomize-guestbook
#   - name: plugin-kasane
#     path: plugins/kasane
#     tool:
#       plugin:
#         name: kasane
#   - name: plugin-kustomized-helm
#     path: plugins/kustomized-helm
#     tool:
#       plugin:
#         name: kustomized-helm
#   - name: plugin-nix
#     path: plugins/nix
#     tool:
#       plugin:
#         name: nix
#   - name: pre-post-sync
#   - name: sock-shop
#   - name: sync-waves


# applicationsets:
#   applicationset-multiple-sources:
#     generators:
#     - list:
#         elements:
#           - cluster: default-cluster
#             url: https://kubernetes.default.svc
#     template:
#       metadata:
#         name: '{{cluster}}-guestbook'
#       spec:
#         project: default
#         sources:
#         - chart: elasticsearch
#           repoURL: https://helm.elastic.co
#           targetRevision: 8.5.1
#         - repoURL: https://github.com/argoproj/argocd-example-apps.git
#           path: guestbook
#           targetRevision: HEAD
#         destination:
#           server: '{{url}}'
#           namespace: default

applicationsets: 
 guestbook:
   namespace: argo-cd
   additionalLabels: {}
   additionalAnnotations: {}
   finalizers:
   - resources-finalizer.argocd.argoproj.io
   # See PR #10026 (ArgoCD v2.5 or later)
   # goTemplate: false
   # goTemplateOptions: ["missingkey=error"]
   generators:
   - git:
       repoURL: https://github.com/Olak29/argocd-example-apps.git 
       revision: HEAD
       directories:
       - path: guestbook
       - path: kustomize-*
   # Ref https://argo-cd.readthedocs.io/en/stable/operator-manual/applicationset/Controlling-Resource-Modification/#allow-temporarily-toggling-auto-sync
   ignoreApplicationDifferences:
   - jsonPointers:
     - /spec/syncPolicy
   # Progressive Syncs is an experimental feature and it must be explicitly enabled
   # Ref: https://argo-cd.readthedocs.io/en/stable/operator-manual/applicationset/Progressive-Syncs/#enabling-progressive-syncs
   strategy:
     type: RollingSync
     rollingSync:
       steps:
       - matchExpressions:
         - key: project
           operator: In
           values:
           - guestbook
       - matchExpressions:
         - key: project
           operator: In
           values:
           - kustomize-foo
           - kustomize-bar
   template:
     metadata:
       name: '{{path.basename}}'
       labels:
         project: '{{path.basename}}'
       annotations: {}
     spec:
       project: default
       source:
         repoURL: https://github.com/Olak29/argocd-example-apps.git 
         targetRevision: HEAD
         path: '{{path}}'
       destination:
         server: https://kubernetes.default.svc
         namespace: default
       syncPolicy:
         automated:
           prune: false
           selfHeal: false
       ignoreDifferences:
       - group: apps
         kind: Deployment
         jsonPointers:
         - /spec/replicas
       info:
       - name: url
         value: https://argoproj.github.io/
   syncPolicy:
     # Set Application finalizer
     preserveResourcesOnDeletion: false
   # Templating is only available on string type
   templatePatch: |
     spec:
       source:
         helm:
           valueFiles:
           {{- range $valueFile := .valueFiles }}
             - {{ $valueFile }}
           {{- end }}
     {{- if .autoSync }}
       syncPolicy:
         automated:
           prune: {{ .prune }}
     {{- end }}